.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

#map {
  position: relative;
  width: 100%;
  height: 100vh;
}

.demo-iconshtml {
  font-size: 62.5%;
}

.demo-icons body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #333333;
  background: white;
}

.demo-icons a {
  color: #608CEE;
  text-decoration: none;
}

.demo-icons header {
  text-align: center;
  padding: 100px 0 0;
}

.demo-icons header h1 {
  font-size: 2.8rem;
}

.demo-icons header p {
  font-size: 1.4rem;
  margin-top: 1em;
}

.demo-icons header a:hover {
  text-decoration: underline;
}

.demo-icons .nc-icon {
  font-size: 34px;
}

.demo-icons section h2 {
  border-bottom: 1px solid #e2e2e2;
  padding: 0 0 1em .2em;
  margin-bottom: 1em;
}

.demo-icons ul {
  padding-left: 0;
}

.demo-icons ul::after {
  clear: both;
  content: "";
  display: table;
}

.demo-icons ul li {
  width: 20%;
  float: left;
  padding: 16px 0;
  text-align: center;
  border-radius: .25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.demo-icons ul li:hover {
  background: #f4f4f4;
}

.demo-icons ul p,
.demo-icons ul em,
.demo-icons ul input {
  display: inline-block;
  font-size: 1rem;
  color: #999999;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.demo-icons ul p {
  padding: 20px 0 0;
  font-size: 12px;
  margin: 0;
}

.demo-icons ul p::selection,
.demo-icons ul em::selection {
  background: #608CEE;
  color: #efefef;
}

.demo-icons ul em {
  font-size: 12px;
}

.demo-icons ul em::before {
  content: '[';
}

.demo-icons ul em::after {
  content: ']';
}

.demo-icons ul input {
  text-align: center;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  display: none;
}

.content {
  padding: 15px 15px 0 15px;
  animation-name: fadeIn;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.hars-aggrid {
	font-family: "Nunito Sans", sans-serif !important;
	.ag-root {
		border: 1px solid #b9b9b9;

		font-family: "Nunito Sans", sans-serif;
		border-radius: inherit;
	}
	.ag-header {
		// height: 138px !important;
		font-family: "Nunito Sans", sans-serif;
		background-color: #fcfdfd !important;

		.ag-header-row {
			// height: 55px !important;
		}

		.ag-floating-filter-input {
			border-radius: 3px;
		}
	}
	.ag-row-odd,
	.ag.row.even {
		background-color: #ffffff !important;
	}
	.ag-paging-panel {
		border-top: none !important;
	}
	.ag-row.ag-row-last {
		border-bottom-width: 0px !important;
	}
	.ag-header-cell::after,
	.ag-header-group-cell::after {
		height: 39px !important;
	}

	.ag-header-cell {
		&:last-of-type,
		&:only-of-type {
			&::after {
				border-right: none !important;
			}
		}
	}
	.ag-row-selected {
		background-color: #edf8ff !important;
	}
	.badge {
		padding: 6px 14px !important;
		border-radius: 8px;
	}
}






.card-chat .chat {
  list-style: none;
  background: none;
  margin: 0;
  padding: 0 0 20px 0;
  margin-top: 10px;
}

.card-chat .chat > li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
}

.card-chat .chat .avatar {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
}

.card-chat .chat .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.card-chat .chat .footer {
  padding: 0;
  text-align: right;
  font-size: 11px;
  color: #9A9A9A;
}

.card-chat .chat h6 {
  display: inline-block;
  font-size: 11px;
  font-weight: 300;
}

.card-chat .send-message {
  text-align: center;
}

.card-chat .send-message .avatar {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: 7px;
}

.card-chat .send-message .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.card-chat .send-message .send-button {
  width: 75px;
  display: inline-block;
}

.card-chat ::-webkit-input-placeholder {
  color: #9A9A9A;
}

.card-chat .other .msg {
  order: 1;
  border: 2px solid #b8d8d8;
  border-radius: 16px;
  position: relative;
  margin-left: 22px;
  max-width: 75%;
  background-color: #b8d8d8;
}

.card-chat .other .msg:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -16px;
  height: 0px;
  border: 8px solid #b8d8d8;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.card-chat .other .no-avatar {
  width: 40px;
  height: 40px;
  order: 2;
}

.card-chat .self {
  justify-content: flex-end;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -webkit-justify-content: flex-end;
}

.card-chat .self .msg {
  order: 1;
  border: 2px solid #d6c1ab;
  border-radius: 16px;
  position: relative;
  margin-right: 22px;
  max-width: 75%;
  background-color: #d6c1ab;
}

.card-chat .self .avatar {
  order: 2;
}

.card-chat .self .msg:after {
  content: "";
  position: absolute;
  // display: inline-block;
  bottom: 19px;
  right: -18px;
  // width: 0px;
  height: 0px;
  border: 8px solid #d6c1ab;
  border-right-color: transparent;
  border-top-color: transparent;
}

.card-chat .self .no-avatar {
  width: 40px;
  height: 40px;
  order: 2;
}

.card-chat .msg {
  background: white;
  min-width: 50px;
  padding: 10px 10px 0px 10px;
  border-radius: 2px;
}

.card-chat .msg p {
  margin: 0 0 0.2rem 0;
  font-size: 15px;
  line-height: 1.2em;
}

.card-chat .msg img {
  position: relative;
  display: block;
  width: 450px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.card-chat input.textarea {
  display: inline-block;
  width: calc(100% - 132px);
}

@media screen and (max-width: 800px) {
  .card-chat .msg img {
      width: 300px;
  }
}

@media screen and (max-width: 550px) {
  .card-chat .msg img {
      width: 200px;
  }
}

section.items-content div.media {padding-left:20px!important}
[class*=" icon-"], [class^=icon-] {color:#3e9dff}
.el-tag {font-size:14px; height: 40px; margin-bottom:10px; margin-right:10px!important}
.el-tag i {font-size:200%   }
.el-tag--plain {color: #606266 }
.el-tag--dark i {color:white}
._1ngVj {font-size: 13px}
p.x0JSc{font-size: 16px}
h4 {color:#276bb0}
.card{box-shadow:0 6px 10px -4px rgba(0, 0, 0, 0.53)}