@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yovstw');
  src:  url('fonts/icomoon.eot?yovstw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yovstw') format('truetype'),
    url('fonts/icomoon.woff?yovstw') format('woff'),
    url('fonts/icomoon.svg?yovstw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-t-market .path1:before {
  content: "\e900";
  color: rgb(249, 244, 232);
}
.icon-t-market .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(194, 101, 88);
}
.icon-t-market .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(30, 32, 31);
  opacity: 0.0500;
}
.icon-t-market .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-t-market .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(30, 32, 31);
  opacity: 0.1;
}
.icon-t-market .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(177, 192, 201);
}
.icon-t-market .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-t-market .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-t-market .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-t-market .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-t-market .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-t-market .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-t-market .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-t-market .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(30, 32, 31);
  opacity: 0.1;
}
.icon-t-market .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(30, 32, 31);
  opacity: 0.1;
}
.icon-t-market .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-t-market .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(237, 203, 72);
}
.icon-t-market .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-t-market .path19:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-t-market .path20:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(241, 241, 242);
}
.icon-t-market .path21:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(96, 136, 165);
}
.icon-t-market .path22:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(96, 136, 165);
}
.icon-t-market .path23:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(96, 136, 165);
}
.icon-t-market .path24:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(96, 136, 165);
}
.icon-t-market .path25:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(96, 136, 165);
}
.icon-t-market .path26:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(96, 136, 165);
}
.icon-t-market .path27:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(96, 136, 165);
}
.icon-t-market .path28:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(96, 136, 165);
}
.icon-t-market .path29:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-t-market .path30:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-t-market .path31:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-t-market .path32:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-t-market .path33:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-t-market .path34:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-t-market .path35:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-t-market .path36:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-t-market .path37:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(30, 32, 31);
  opacity: 0.1;
}
.icon-t-market .path38:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-t-market .path39:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(58, 54, 55);
}
.icon-iconfinder_food-46_3028160 .path1:before {
  content: "\e927";
  color: rgb(226, 210, 61);
}
.icon-iconfinder_food-46_3028160 .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(214, 191, 30);
}
.icon-iconfinder_food-46_3028160 .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(249, 226, 90);
}
.icon-iconfinder_food-46_3028160 .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(249, 226, 90);
}
.icon-iconfinder_food-46_3028160 .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(70, 117, 114);
}
.icon-iconfinder_food-46_3028160 .path6:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(226, 210, 61);
}
.icon-iconfinder_food-46_3028160 .path7:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(43, 86, 80);
}
.icon-iconfinder_food-46_3028160 .path8:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(188, 185, 187);
}
.icon-iconfinder_food-46_3028160 .path9:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(155, 161, 168);
}
.icon-iconfinder_food-46_3028160 .path10:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(221, 217, 220);
}
.icon-iconfinder_food-46_3028160 .path11:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(187, 191, 196);
}
.icon-iconfinder_food-46_3028160 .path12:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(70, 117, 114);
}
.icon-iconfinder_food-46_3028160 .path13:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(43, 86, 80);
}
.icon-iconfinder_food-46_3028160 .path14:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(70, 117, 114);
}
.icon-iconfinder_food-46_3028160 .path15:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(121, 155, 142);
}
.icon-iconfinder_food-46_3028160 .path16:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(98, 150, 144);
}
.icon-iconfinder_food-46_3028160 .path17:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(58, 102, 98);
}
.icon-iconfinder_food-46_3028160 .path18:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(98, 150, 144);
}
.icon-iconfinder_food-46_3028160 .path19:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(58, 102, 98);
}
.icon-iconfinder_food-46_3028160 .path20:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(141, 170, 158);
}
.icon-iconfinder_food-46_3028160 .path21:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(109, 140, 127);
}
.icon-cf-drinks:before {
  content: "\e93c";
}
.icon-cf-cutFruits:before {
  content: "\e93d";
}
.icon-cf-halal-cookedFoods:before {
  content: "\e93e";
}
.icon-cf-indianCuisine:before {
  content: "\e93f";
}
.icon-cf-cookedFood:before {
  content: "\e940";
}
.icon-m-piece-sundryGoods:before {
  content: "\e941";
  /* color: #384169; */
}
.icon-m-preservedDriedGoods:before {
  content: "\e942";
}
.icon-m-repair-smallHousehold-electrical:before {
  content: "\e943";
}
.icon-m-repair-shoeBag:before {
  content: "\e944";
}
.icon-m-pork:before {
  content: "\e945";
}
.icon-m-beef:before {
  content: "\e946";
  /* color: #394553; */
}
.icon-m-mutton:before {
  content: "\e947";
}
.icon-m-poultry:before {
  content: "\e948";
}
.icon-m-frozenGoods:before {
  content: "\e949";
}
.icon-m-halalItems:before {
  content: "\e94a";
}
.icon-m-freshSeafood:before {
  content: "\e94b";
}
.icon-m-processed-rawSeafood:before {
  content: "\e94c";
  /* color: #172c51; */
}
.icon-m-vegetables:before {
  content: "\e94d";
}
.icon-m-beancakesNoodles:before {
  content: "\e94e";
}
.icon-m-flowers:before {
  content: "\e94f";
}
.icon-m-wholeFruits:before {
  content: "\e950";
}
.icon-m-eggs:before {
  content: "\e951";
}
.icon-m-assortedSpices:before {
  content: "\e952";
}
.icon-e-eac:before {
  content: "\e953";
}
.icon-m-exhaustHood:before {
  content: "\e954";
}
.icon-e-rollerShutter:before {
  content: "\e955";
}
.icon-e-fireSuppression:before {
  content: "\e956";
}
.icon-e-automated-trayReturn:before {
  content: "\e957";
}
