<template>
    <div class="wizard-content mode-list qr-list" id="progressApp">
        <div class="tab-wizard wizard-circle wizard clearfix" role="application">
            <div class="steps clearfix">
                <ul role="tablist">
                    <li role="tab" class="first" :class="{'current': step == 1}" aria-disabled="false" aria-selected="true">
                        <a id="steps-uid-0-t-0"
                            href="#steps-uid-0-h-0" aria-controls="steps-uid-0-p-0">
                            <span class="current-info audible">current step:</span>
                            <span class="step">
                                1
                            </span> 
                            Bid Amount
                        </a>
                    </li>
                    <li role="tab" :class="{'current': step == 3 || step == 2}" aria-disabled="false" aria-selected="true">
                        <a id="steps-uid-0-t-0"
                            href="#steps-uid-0-h-0" aria-controls="steps-uid-0-p-0">
                            <span class="current-info audible">current step:</span>
                            <span class="step">
                                2
                            </span> 
                            <div v-show="circularProgressVal > 0"
                                style="position: absolute; top: 0; left: 50%; margin-left: -24px; z-index: 11; background-color: white;">
                                <input class="d-none" style="" data-plugin="knob" data-width="150" data-height="150" data-linecap=round data-fgColor="#009efb" value="0" data-skin="tron" data-angleOffset="180" data-readOnly=true data-thickness=".1" />
                                <span style="position: absolute; top: 20%; left: 43%; font-size: 1.3rem;">2</span>
                            </div>
                            Payment
                        </a>
                    </li>
                    <li role="tab" class="last" aria-disabled="false" aria-selected="false">
                        <a id="steps-uid-0-t-1"
                            href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                            <span class="step" :class="{'border-success': isSubmitSuccess}">
                                <i v-if="isSubmitSuccess" class="fa fa-check text-success"></i>
                                <template v-else>
                                    3
                                </template>
                            </span>
                            Complete
                        </a>
                    </li>
                </ul>
            </div>

            <transition name="slide-fade" mode="out-in">

            <div v-if="step == 1" key="step-bid-amount">
                <div class="block payment-bid-slider" style="margin: 0 30px;">
                    <h4>MyInfo via Singpass (from ICA3 / MOM2)</h4>
                    <div class="row">
                        <div class="col-4">
                            <div class="_1ngVj" style=" text-transform: uppercase;">NRIC/FIN</div>
                            <p class="x0JSc" style="font-weight:bold;">G1234567F</p>
                        </div>
                        <div class="col-4">
                            <div class="_1ngVj" style="text-transform: uppercase;">Name</div>
                            <p class="x0JSc" style="font-weight:bold;">Christine Ng</p>
                        </div>
                        <div class="col-4">
                            <div class="_1ngVj" style="text-transform: uppercase;">Sex</div>
                            <p class="x0JSc" style="font-weight:bold;">Female</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="_1ngVj" style=" text-transform: uppercase;">Race</div>
                            <p class="x0JSc" style="font-weight:bold;">Chinese</p>
                        </div>
                        <div class="col-4">
                            <div class="_1ngVj" style="text-transform: uppercase;">Dialect</div>
                            <p class="x0JSc" style="font-weight:bold;">English</p>
                        </div>
                        <div class="col-4">
                            <div class="_1ngVj" style="text-transform: uppercase;">Residential Status </div>
                            <p class="x0JSc" style="font-weight:bold;">Permanent</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="_1ngVj" style=" text-transform: uppercase;">Nationality</div>
                            <p class="x0JSc" style="font-weight:bold;">Chinese</p>
                        </div>
                        <div class="col-4">
                            <div class="_1ngVj" style="text-transform: uppercase;">Date of Birth</div>
                            <p class="x0JSc" style="font-weight:bold;">07/07/1971</p>
                        </div>
                        <div class="col-4">
                            <div class="_1ngVj" style="text-transform: uppercase;">Country of Birth</div>
                            <p class="x0JSc" style="font-weight:bold;">Singapore</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="_1ngVj" style=" text-transform: uppercase;">Passport Number</div>
                            <p class="x0JSc" style="font-weight:bold;">B123466</p>
                        </div>
                        <div class="col-4">
                            <div class="_1ngVj" style="text-transform: uppercase;">Passport Expiry Date</div>
                            <p class="x0JSc" style="font-weight:bold;">05/05/2025</p>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="_1ngVj" style="text-transform: uppercase;">Pass Status</div>
                            <p class="x0JSc" style="font-weight:bold;">Valid</p>
                        </div>
                        <div class="col-4">
                            <div class="_1ngVj" style=" text-transform: uppercase;">Pass Expiry Date</div>
                            <p class="x0JSc" style="font-weight:bold;">05/05/2025</p>
                        </div>
                        <div class="col-4">
                            <div class="_1ngVj" style="text-transform: uppercase;">Pass Type</div>
                            <p class="x0JSc" style="font-weight:bold;">Permanent Resident</p>
                        </div>
                    </div>

                    <h4>Stall Details </h4>
                    <div class="row">
                        <div class="col-4">
                            <div class="_1ngVj" style="text-transform: uppercase;">Stall Name</div>
                            <p class="x0JSc" style="font-weight:bold;">Berseh Food Centre</p>
                        </div>
                        <div class="col-4">
                            <div class="_1ngVj" style=" text-transform: uppercase;">Stall Address</div>
                            <p class="x0JSc" style="font-weight:bold;">#02-052 166 JALAN BESAR</p>
                        </div>
                        <div class="col-4">
                            <div class="_1ngVj" style="text-transform: uppercase;">Stall Type</div>
                            <p class="x0JSc" style="font-weight:bold;">Cooked Food</p>
                        </div>
                    </div>

                    <h4>Selection of Trade </h4>
                    <div class="filters-equipment">
                        <el-tag v-for="(m, index) in filters.cookedFoodTrades.options"
                            :key="'cookedfoodtrades' + index" 
                            :effect="!m.isChosen ? 'plain' : 'dark'" @click="m.isChosen = !m.isChosen"
                            class="ml-0 mr-1"
                            v-html="m.text"></el-tag>
                    </div>

                    <h4>Description of Item Sold </h4>
                    <textarea name="" id="" class="form-control" cols="30" rows="10"></textarea>

                    <h4>Tender Amount</h4>
                    <b-input-group-prepend class="border rounded-sm">
                        <b-input-group-text class="border-0">
                            <i class="fal fa-dollar-sign"></i>
                        </b-input-group-text>
                        <b-form-input placeholder="Bid Amount" class="h-100 border-0"></b-form-input>
                    </b-input-group-prepend>
                    <!-- <el-slider class="" input-size="large"
                    v-model="value"
                    show-input>
                    </el-slider> -->

                    <div class="text-right">
                        <button @click="step = 2" class="btn btn-sm btn-info">Next</button>
                    </div>
                </div>
            </div>

            <div v-else-if="step == 2" key="step-choose-card">

                <div @click="step = 3" class="card card-body pt-0 pb-0 flex-row align-items-center " style="cursor: pointer;">
                    <img src="/res/ic-payment.png" class="" style="width: 5vw;"> 
                    <div class="" style=" flex: 1; margin-left: 20px;">
                        <h5 class="mb-0">Pay with Credit Card</h5> 
                        <h6 class="text-muted">Requires a valid card</h6>
                    </div> 
                    <div class="">
                        <button class="btn btn-link p-0"><i class="fa fa-play-circle fa-2x"></i></button>
                    </div>  
                </div>

                <div @click="step = 3" class="card card-body pt-0 pb-0 flex-row align-items-center " style="cursor: pointer;">
                    <img src="/res/payment-m1.png" class="" style="width: 5vw;"> 
                    <div class="" style=" flex: 1; margin-left: 20px;">
                        <h5 class="mb-0">Pay with Stripe</h5> 
                        <h6 class="text-muted">Requires a valid card</h6>
                    </div> 
                    <div class="">
                        <button class="btn btn-link p-0"><i class="fa fa-play-circle fa-2x"></i></button>
                    </div>  
                </div>

                <div @click="step = 3" class="card card-body pt-0 pb-0 flex-row align-items-center " style="cursor: pointer;">
                    <img src="/res/payment-m2.png" class="" style="width: 5vw;"> 
                    <div class="" style=" flex: 1; margin-left: 20px;">
                        <h5 class="mb-0">Pay with PayPal</h5> 
                        <h6 class="text-muted">Requires a valid account</h6>
                    </div> 
                    <div class="">
                        <button class="btn btn-link p-0"><i class="fa fa-play-circle fa-2x"></i></button>
                    </div>  
                </div>
            </div>

            <div v-else-if="step == 4" key="step-complete">
                <h3><i class="fas fa-check-circle text-success"></i> Paid successfully</h3>
                <h4>You will receive an email about your invoice shortly</h4>
                <section class="card p-0 shadow-none">
                <!-- <div class="card-body pl-0">
                    <div class="form-group">
                        <label>Summon No</label>
                        <h4>5555555</h4> 
                    </div>
                    <div class="form-group">
                        <label>Paid On</label>
                        <h4 class="m-0">02 Feb 2020</h4> 
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <h4 class="m-0">
                            <span class="badge badge-success">Paid</span>
                        </h4> 
                    </div>
                </div> -->
                <button class="btn btn-default" @click="goBack">Ok</button>
                </section>
            </div>

            </transition>

            <div v-show="step == 3" key="step-card-info">
                <!-- <h2>Payment</h2> -->
                <section class="p-0">
                    <div class="card card-paymentshadow-none ">
                        <div class="card-body collapse show">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="card-title">Payment Information</h4>
                                <div class="icon-container">
                                    <i class="fab fa-cc-visa fa-2x text-secondary"></i>
                                    <i class="fab fa-cc-amex fa-2x text-info"></i>
                                    <i class="fab fa-cc-mastercard fa-2x text-danger"></i>
                                    <i class="fab fa-cc-discover fa-2x text-warning"></i>
                                </div>
                            </div>                                            
    
                            <div class="form-horizontal m-t-20" id="card-form">
                                <div class="card-wrapper mb-3"></div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="cardnumber">Credit card number</label>
                                            <input type="text" id="cardnumber" name="cardnumber" class="form-control"  placeholder="1111-2222-3333-4444">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="cardname">Name on Card</label>
                                            <input type="text" id="cardname" name="cardname" placeholder="John More Doe" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="expmonth">Expiry</label>
                                            <input type="text" id="expdate" name="expdate" placeholder="MM/YY" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="cvv">CVV</label>
                                            <input type="text" id="cvv" name="cvv" placeholder="352" class="form-control">
                                        </div>
                                    </div>
                                </div>
    
                                <!-- <div class="row">
                                    
                                </div> -->
    
                            </div>
    
                        </div>
                    </div> 
    
                    <div class="card">
                        <div class="card-body collapse show">
                            <h4 class="card-title">Billing Address</h4>
    
                            <div class="form-horizontal m-t-20">
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" id="fullName" name="fullName" placeholder="john@example.com" class="form-control">
                                </div>
    
                                <div class="form-group">
                                    <label for="adr">Address</label>
                                    <input type="text" id="adr" name="address" placeholder="Nex at Seragoon" class="form-control">
                                </div>
    
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <input type="text" id="city" name="city" placeholder="Singapore" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="zip">Zip</label>
                                            <input type="text" id="zip" name="zip" placeholder="10001" class="form-control">
                                        </div>
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" id="email" name="email" placeholder="John M. Doe" class="form-control">
                                </div>
    
                                <!-- <input type="checkbox" id="sameadr" class="filled-in" />
                                <label for="sameadr">Shipping address same as billing</label> -->
    
                            </div>
                            
                        </div>
                    </div>
                </section>
            </div>

            <div class="clearfix" v-if="step == 3" key="step-pay">
                <button class="btn btn-primary btn-block" @click="pay" :disabled="isSubmitting">
                    <i v-if="isSubmitting" class="fa fa-spinner fa-spin float-left"></i>
                    Pay
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import swal from 'sweetalert2'

function initializeCreditCardForm() {
    $('[data-plugin="knob"]').knob({
            width: 50,
            height: 50
        });
        
    var card = new Card({
        // a selector or DOM element for the form where users will
        // be entering their information
        form: '#card-form', // *required*
        // a selector or DOM element for the container
        // where you want the card to appear
        container: '.card-wrapper', // *required*

        formSelectors: {
            numberInput: 'input#cardnumber', // optional — default input[name="number"]
            expiryInput: 'input#expdate', // optional — default input[name="expiry"]
            cvcInput: 'input#cvv', // optional — default input[name="cvc"]
            nameInput: 'input#cardname' // optional - defaults input[name="name"]
        },

        // width: 200, // optional — default 350px
        formatting: true, // optional - default true

        // Strings for translation - optional
        messages: {
            validDate: 'valid\ndate', // optional - default 'valid\nthru'
            monthYear: 'mm/yyyy', // optional - default 'month/year'
        },

        // Default placeholders for rendered fields - optional
        placeholders: {
            number: '•••• •••• •••• ••••',
            name: 'Full Name',
            expiry: '••/••',
            cvc: '•••'
        },

        masks: {
            cardNumber: '•' // optional - mask card number
        },

        // if true, will log helpful messages for setting up Card
        debug: false // optional - default false
    });
}

// import JQuery from 'jquery'
let $ = window.$
import { Slider, Tag } from "element-ui";
export default {
    components: {
        [Slider.name]: Slider,
        [Tag.name]: Tag,
	},
    data() {
		return {
            step: 1,
            circularProgressVal: 0,
            isSubmitting: false,
            isSubmitSuccess: false,
            value: 50,
            filters: {
                cookedFoodTrades: {
                    value: null,
                    show: false,
                    options: [
                        {
                        id: 1,
                        value: 1,
                        isChosen: false,
                        get text(){ return '<i class="icon-cf-drinks"></i> Drinks' }
                        },
                        {
                        id: 2,
                        value: 2,
                        isChosen: false,
                        get text(){ return `<i class="icon-cf-cutFruits"></i> Cut Fruits` }
                        },
                        {
                        id: 3,
                        value: 3,
                        isChosen: false,
                        get text(){ return `<i class="icon-cf-halal-cookedFoods"></i> Halal Cooked Food` }
                        },
                        {
                        id: 4,
                        value: 4,
                        isChosen: false,
                        get text(){ return `<i class="icon-cf-indianCuisine"></i> Indian Cuisine` }
                        },
                        {
                        id: 5,
                        value: 5,
                        isChosen: false,
                        get text(){ return `<i class="icon-cf-cookedFood"></i> Cooked Food` }
                        },
                    ]
                    },
            }
        }
    },
    methods: {
        pay(mode) {
            this.isSubmitting = true;
            console.log(window.$);
            
            // let circularProgressVal = 0;
            let circularProgressValInterval = setInterval(() => {
                this.circularProgressVal += 3;
                $('[data-plugin="knob"]').val(this.circularProgressVal).trigger('change')
            }, 100);
            setTimeout(() => {
                if(this.circularProgressVal > 100) {
                    this.circularProgressVal = 100;
                }
                clearInterval(circularProgressValInterval);
                this.isSubmitting = false;
                this.step = 4;
                this.isSubmitSuccess = true;
                
                $('lottie-player').removeClass('d-none')
                const player = document.querySelector("lottie-player");
                player.load("https://assets6.lottiefiles.com/packages/lf20_aEFaHc.json");
                player.play()
                setTimeout(() => {
                    $('lottie-player').addClass('d-none')
                    // swal("Paid successfully", "You will receive an email about your invoice shortly")
                    //     .then(result => {
                    //         console.log(result);
                    //         this.$emit('onPaymentDone')  
                    //     })
                }, 2000);
                
            }, 3500);
        },
        goBack() {
            this.$emit('onPaymentDone')  
        }
    },
    mounted() {
        initializeCreditCardForm();
    }
}
</script>
<style lang="scss">
.payment-bid-slider {
    .el-slider {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .el-slider__input {
            align-self: center;
        }

        .el-slider__runway {
            width: 100%;
        }
    }
}
.jp-card .jp-card-front, .jp-card .jp-card-back {
    background: var(--gray);
}

.el-tag {
  display: inline-flex;
  align-items: center;
  i {
    font-size: 150%;
    margin-right: 5px;
  }
}

.filters-equipment {
    //   display: flex;
    // flex-wrap: wrap;

  .el-tag {
    cursor: pointer;
    transition: all .2s;
    // &:not(:first-child) {
    //   margin-left: 10px !important;
    // }
  }
}
</style>