//@import '../fonts/fontawesome-pro-5.5.0-web/css/all.min.css';

.h-divider {
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.transition-rotate-180 {
    transform: rotate(180deg) !important;
}

@-webkit-keyframes rotate180 {
    from {
      transform: rotate(0deg);
    }
  
    to {
        transform: rotate(180deg)
    }
}
  
@keyframes jackInTheBox {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(180deg)
    }
}

// ----------- animation
.slide-fade {
    &-enter-active {
        transition: all .2s ease;
    }

    &-leave-active {
        transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    &-enter /* .slide-fade-leave-active for <2.1.8 */
    {
        transform: translateY(-10px);
        opacity: 0;
    }

    &-leave-to /* .slide-fade-leave-active for <2.1.8 */
    {
        transform: translateY(10px);
        opacity: 0;
    }
}
// ----------- animation

.el-drawer__wrapper {
    .el-drawer__header {
        font-size: 1.5rem;
    }
    .el-drawer__header:focus, .el-drawer__header span:focus {
        outline: none;
    }
    .el-drawer {
        overflow: auto;
    }
    .el-drawer__body {
        padding: 0 20px;
    }
    .el-drawer__container {
        background-color: rgba(0,0,0,.6);
    }
}