<template>
<div>
    <notifications transition-name="notification-list" transition-mode="out-in">
    </notifications>
    
    <transition name="fade"
                mode="out-in">

      <nuxt />

    </transition>
</div>
</template>


<script>
  // Loading some plugin css asynchronously
  import 'sweetalert2/dist/sweetalert2.css'
  import 'vue-notifyjs/themes/default.css'

  export default {
    components: {
    },
    methods: {
      
    }
  }
</script>