
<template>
<div class="wrapper"  :class="{'nav-open': $sidebar.showSidebar}" style="display: flex; flex-direction: column;">
    <!-- <side-bar type="sidebar" :sidebar-links="$sidebar.sidebarLinks">
      
    </side-bar> -->
  <!-- <div :class="{'nav-open': $sidebar.showSidebar}"> -->
    <notifications transition-name="notification-list" transition-mode="out-in">
    </notifications>

    <TopNavbar/>
    
    <transition name="fade"
                mode="out-in">
    <!-- <div class="main-panel" :class="{'mop-background' : user.userName == 'mop'}" style="flex: 1; width: 100%;"> -->
      <nuxt />
    <!-- </div> -->
    </transition>
    
  <!-- </div> -->
</div>
</template>
<script>
  // Loading some plugin css asynchronously
  import 'sweetalert2/dist/sweetalert2.css'
  import 'vue-notifyjs/themes/default.css'

  import TopNavbar from './TopNavbar.vue'
  

  export default {
    components: {
      TopNavbar,
      
    },
    methods: {
      
    },
    computed: {
      // user() {
      //   return JSON.parse(sessionStorage.getItem('user'))
      // }
    },
    middleware: ['authenticated','authorized'],
  }
</script>
<style lang="scss">
.mop-background {
    background-image: linear-gradient(90deg,hsl(181, 49%, 39%),hsla(0,0%,100%,.8)),url(/img/background/hawker.jpeg);
    background-size: cover;
    background-position: center;
}
</style>