<template>
  <navbar v-model="showNavbar"  position="relative">
    <div class="navbar-wrapper">
      <!-- <div class="navbar-minimize">
        <button id="minimizeSidebar" class="btn btn-icon btn-round" @click="minimizeSidebar">
          <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
          <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
        </button>
      </div> -->
      <!-- <div class="navbar-toggle">
        <navbar-toggle-button @click.native="toggleSidebar">

        </navbar-toggle-button>
      </div> -->
      <nuxt-link class="navbar-brand p-0" to="/">
        <img src="/favicon.ico" alt="" style="height: calc(var(--navbar-height) - 10px);">
        Vue Paper
      </nuxt-link>
      <!-- <a class="navbar-brand" href="#pablo">Hawker</a> -->
    </div>

    <b-nav>
      <!-- <nuxt-link to="/tenders">My Tenders</nuxt-link> -->
      <b-nav-item v-isAuthorized to="/"><i class="fal fa-tachometer mr-2"></i> Dashboard</b-nav-item>
      <!-- <b-nav-item v-isAuthorized to="/tenders/completed"><i class="fal fa-gavel mr-2"></i> My Completed Tenders</b-nav-item> -->
      <!-- <b-nav-item v-isAuthorized  to="/tenders/pending"><i class="fal fa-gavel mr-2"></i> My Tenders</b-nav-item>
      <b-nav-item v-isAuthorized  to="/tenders/find"><i class="fal fa-plus mr-2"></i> Bid a tender</b-nav-item>
      <b-nav-item v-isAuthorized  to="/tenders"><i class="fal fa-gavel mr-2"></i> Tenders</b-nav-item>
      <b-nav-item v-isAuthorized  to="/settings"><i class="fal fa-cogs mr-2"></i> Settings</b-nav-item>
      <b-nav-item to="/search"><i class="fal fa-search mr-2"></i> Search</b-nav-item> -->
    </b-nav>

    <template slot="navbar-menu">
      <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            <b-avatar></b-avatar> {{user.userName}}
          </template>
          <!-- <b-dropdown-item href="#">Profile</b-dropdown-item> -->
          <b-dropdown-item href="#" @click="signout">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      <!-- <form>
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn-magnify" href="#pablo">
            <i class="nc-icon nc-layout-11"></i>
            <p>
              <span class="d-lg-none d-md-block">Stats</span>
            </p>
          </a>
        </li>
        <drop-down icon="nc-icon nc-bell-55" tag="li"
                   position="right"
                   direction="none"
                   class="nav-item btn-rotate dropdown">
          <a slot="title"
             slot-scope="{isOpen}"
             class="nav-link dropdown-toggle"
             data-toggle="dropdown"
             aria-haspopup="true"
             :aria-expanded="isOpen">
            <i class="nc-icon nc-bell-55"></i>
            <p>
              <span class="d-lg-none d-md-block">Some Actions</span>
            </p>
          </a>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </drop-down>
        <li class="nav-item">
          <a class="nav-link btn-rotate" href="#pablo">
            <i class="nc-icon nc-settings-gear-65"></i>
            <p>
              <span class="d-lg-none d-md-block">Account</span>
            </p>
          </a>
        </li>
      </ul> -->
    </template>
  </navbar>
</template>
<script>
  import { Navbar, NavbarToggleButton } from '~/components/UIComponents'

  export default {
    components: {
      Navbar,
      NavbarToggleButton
    },
    data() {
      return {
        activeNotifications: false,
        showNavbar: false
      }
    },
    computed: {
        user() {
          return JSON.parse(sessionStorage.getItem('user')) || {}
        }
    },
    methods: {
      capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      },
      toggleNotificationDropDown() {
        this.activeNotifications = !this.activeNotifications
      },
      closeDropDown() {
        this.activeNotifications = false
      },
      toggleSidebar() {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
      },
      hideSidebar() {
        this.$sidebar.displaySidebar(false)
      },
      minimizeSidebar() {
        this.$sidebar.toggleMinimize()
      },
      toggleNavbar() {
        this.showNavbar = !this.showNavbar;
      },
      signout() {
        sessionStorage.removeItem('user');
        this.$router.push('/login')
      }
    }
  }

</script>
<style lang="scss" >
:root {
  --navbar-height: 54px;
}

.wrapper .navbar {
  padding: 0;
  min-height: unset;
  margin: 0;

  .nav-link {
    padding: 1rem 1rem;
  }

  .nav-link.active, .nav-link.nuxt-link-exact-active {
    background-color: #44c47d;
    color: white !important;
  }

}
</style>
