<template>
  <div class="login-page">

    <div class="wrapper wrapper-full-page">
      <div class="full-page login-page section-image">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
          <div class="container">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
              <form @submit.prevent="login">
                <card type="login">
                  <h3 slot="header" class="header text-center">Login</h3>

                  <!-- <fg-input v-model="form.username" addon-left-icon="fal fa-user"
                            placeholder="User Name..."></fg-input> -->
                  <b-input-group>
                    <template v-slot:prepend>
                      <b-input-group-text><i class="fal fa-user"></i></b-input-group-text>
                    </template>
                    <b-form-select v-model="form.username" :options="options" class="border-left-0"></b-form-select>
                    <!-- <el-select v-model="form.username" placeholder="User Name" class="">
                      <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                      </el-option>
                    </el-select> -->
                  </b-input-group>

                  <b-input-group>
                    <template v-slot:prepend>
                      <b-input-group-text><i class="fal fa-key"></i></b-input-group-text>
                    </template>
                    <b-form-input v-model="form.password" placeholder="Password"></b-form-input>
                  </b-input-group>
                  
<!-- 
                  <fg-input v-model="form.password" addon-left-icon="fal fa-key" placeholder="Password"
                            type="password"></fg-input> -->

                  <br>

                  <p-button native-type="submit" slot="footer" type="warning" round block class="mb-3">Login</p-button>
                </card>
              </form>
            </div>
          </div>
        </div>

        <div class="full-page-background" style="background-image: url(/img/background/hawker.jpeg) "></div>
      </div>
    </div>
  </div>
</template>
<script>
  import { Card, Checkbox, Button } from '~/components/UIComponents';
  import {Select, Option} from 'element-ui'
  export default {
    layout: 'auth',
    components: {
      Card,
      [Checkbox.name]: Checkbox,
      [Button.name]: Button,
      [Select.name]: Select,
      [Option.name]: Option,
    },
    methods: {
      toggleNavbar() {
        document.body.classList.toggle('nav-open')
      },
      closeMenu() {
        document.body.classList.remove('nav-open')
        document.body.classList.remove('off-canvas-sidebar')
      },
      login() {
        // handle login here
        sessionStorage.setItem('user', JSON.stringify({
          userName: this.form.username
        }));
        this.$router.push('/')
      }
    },
    data() {
      return {
        form: {
          username: null,
          password: ''
        },
        options: [
          { value: null, text: 'User Name' },
          {
          value: 'nea',
          text: 'nea'
        }, {
          value: 'mop',
          text: 'mop'
        }],
      }
    },
    beforeDestroy() {
      this.closeMenu()
    }
  }
</script>
<style lang="scss" scoped>
.form-control {
  height: 100%;
}
</style>
