<template>
  <div class="wrapper">

    <side-bar type="sidebar" :sidebar-links="$sidebar.sidebarLinks">
      <user-menu></user-menu>
    </side-bar>

    <div class="main-panel mop-background" :class="{'mop-background' : user.userName == 'mop'}">
      <top-navbar></top-navbar>

      <dashboard-content @click.native="toggleSidebar">

      </dashboard-content>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss">

</style>
<script>
  import TopNavbar from './TopNavbar.vue'
  import ContentFooter from './ContentFooter.vue'
  import DashboardContent from './Content.vue'
  import UserMenu from 'src/components/UIComponents/SidebarPlugin/UserMenu.vue'

  export default {
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
      UserMenu,
    },
    methods: {
      toggleSidebar () {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      }
    },
    computed: {
      user() {
        return JSON.parse(sessionStorage.getItem('user'))
      }
    },
  }

</script>

<style lang="scss">
.mop-background {
    background-image: linear-gradient(90deg,hsl(181, 49%, 39%),hsla(0,0%,100%,.8)),url(/img/background/hawker.jpeg);
    background-size: cover;
    background-position: center;
}
</style>